body {
	font: 16px "Trebuchet MS", Helvetica, sans-serif;
	background: #F5DA81 url('imagens/fundo.png');
}

#principal {
	width: 1280px;
}

#menu {
		background: #FBFBEF;
		padding: 16px;
}

a {
	padding: 5px;
	font-weight: bold;
	color: #4b566a;
	text-decoration: none;
}

#conteudo {
	background: #F5F6CE;
	padding: 16px;
}

h1 {
	font-size: 1.3em;
}

.centralizar {
	text-align: center;
}

.img-personagens {
	border: 10px solid #F7F2E0;
}